<div class="sig_li">
    <article class="signature_name">{{first_name}}
        {{last_name}}({{age}})</article>
    <article class="block"></article>
    <article class="city">{{city}}</article>
</div>