{{> header}}
<main>

    <div class="welcome_container">
        <h2 class="welcome">WELCOME</h2>
        <div class="text_container welcome">
            <p class="welcome">Welcome to the twitter api petition</p>
        </div>
    
        <div class="links">
            <p class="welcome">Please login or register to continue.</p>
            <a class="welcome_link" href="/login">login</a>
            <a class="welcome_link" href="/register">register</a>
        </div>
    </div>  
    
</main>

{{> footer}}

