{{> header}}
<main>

    <div class="sign_container">
        <h2 class="sign">TWITTER API</h2>
        <div class="text_container sign">
            <p class="sign">Throughout our course our instructors have done such heinous things as teaching, explaining and worst of all helping us</p>
            <p class="sign">when we found ourselves stuck.</p>
            <p class="sign">Well now it's time to return the favor… Sign this petition now!!</p>
        </div>
    
        {{> forms/form_petition}}
    </div>  
    
</main>

{{> footer}}

<script
    src="https://cdn.jsdelivr.net/npm/signature_pad@3.0.0-beta.4/dist/signature_pad.umd.min.js"
    integrity="sha256-XEJuxxEh99IMbq0rzl1zKwjjfYc/nrkRgKjWM6bSwuU="
    crossorigin="anonymous"
    >
</script>
<script src="/signature.js"></script>
