{{> header_logged_in}}
<main>


    <div class="register_container">
        <h2 class="register">PROFILE</h2>
        <div class="text_container register">
            <p class="register">Tell us about yourself!</p>
        </div>
    
        {{> forms/form_profile}}
    </div>  
    
</main>

{{> footer}}
<script src="/menu.js"></script>