{{> header}}
<main>


    <div class="register_container">
        <h2 class="register">REGISTER</h2>
        <div class="text_container register">
            <p class="register">To sign the petition, please register</p>
        </div>
    
        {{> forms/form_register}}

        <div class="login_redirect">
            <p class="register">Already have an account?</p>
            <a class="register" href="/login">Login</a>
        </div>
    </div>  

    
</main>

{{> footer}}