{{> header_logged_in}}
<main>


    <div class="update_profile_container">
        <h2 class="update_profile">UPDATE PASSWORD</h2>
    
        {{#if error}}
            <p class"error">{{error}}</p>
        {{/if}}
        

        {{> forms/form_update_password}}
    </div>  
     
</main>

{{> footer}}
<script src="/menu.js"></script>