{{> header_logged_in}}
<main>


    <div class="update_profile_container">
        <h2 class="update_profile">UPDATE PROFILE</h2>
        <div class="text_container update_profile">
        </div>
    
        {{> forms/form_update_profile}}
    </div>  
     
</main>

{{> footer}}
<script src="/menu.js"></script>