<div class="form_container">
    <form action="/profile" method="POST" class="form_container_profile">

        <div class="input_container age">
            <input
                type="number"
                min="0"
                max="100"
                class="input"
                name="age"
                placeholder="age"
            />
        </div>

        <div class="input_container city">
            <input class="input" name="city" placeholder="city" />
        </div>

        <div class="input_container homepage">
            <input
                type="url"
                class="input"
                name="homepage"
                placeholder="homepage"
            />
        </div>

        <div class="input_container submit">
            <button id="submit" class="input" type="submit">Submit</button>
        </div>

    </form>
</div>