<div class="form_container">
    <form action="/register" method="POST" class="form_container_register">

        <div class="input_container first_name">
            <input
                class="input"
                name="first_name"
                placeholder="first name"
                required
            />
        </div>

        <div class="input_container last_name">
            <input
                class="input"
                name="last_name"
                placeholder="last name"
                required
            />
        </div>

        <div class="input_container email">
            <input
                type="email"
                class="input"
                name="email"
                placeholder="email"
                required
            />
        </div>

        <div class="input_container password">
            <input
                type="password"
                class="input"
                name="password"
                placeholder="password"
                required
            />
        </div>

        <div class="input_container submit">
            <button id="submit" class="input" type="submit">Submit</button>
        </div>

    </form>
</div>