<div class="form_container">
    <form action="/login" method="POST" class="form_container_login">

        <div class="input_container email">
            <input
                type="email"
                class="input"
                name="email"
                placeholder="email"
            />
        </div>

        <div class="input_container password">
            <input
                type="password"
                class="input"
                name="password"
                placeholder="password"
            />
        </div>

        <div class="input_container submit">
            <button id="submit" class="input" type="submit">Submit</button>
        </div>

    </form>
</div>