<div class="form_container">
    <form action="/update_password" method="POST" class="form_update_password">

        <div class="input_container password update">
            <input
                type="password"
                class="input"
                name="password"
                placeholder="password"
                required
            />
        </div>

        <div class="input_container check_password update">
            <input
                type="password"
                class="input"
                name="check_password"
                placeholder="repeat password"
                required
            />
        </div>

        <div class="input_container submit">
            <button id="submit" class="input" type="submit">Submit</button>
        </div>

    </form>
</div>